[submodule "libsoundio"]
	path = lib/libsoundio
	url = git@github.com:khiner/libsoundio.git
	branch = kAudioObjectPropertyElementMain
[submodule "imgui"]
	path = lib/imgui
	url = git@github.com:khiner/imgui.git
	branch = docking
[submodule "lib/zep"]
	path = lib/zep
	url = git@github.com:khiner/zep.git
	branch = master
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/faust"]
	path = lib/faust
	url = git@github.com:grame-cncm/faust.git
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "lib/diff-match-patch-cpp-stl"]
	path = lib/diff-match-patch-cpp-stl
	url = git@github.com:leutloff/diff-match-patch-cpp-stl.git
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "lib/tracy"]
	path = lib/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "lib/implot"]
	path = lib/implot
	url = git@github.com:epezent/implot.git
