[submodule "libsoundio"]
	path = lib/libsoundio
	url = git@github.com:khiner/libsoundio.git
	branch = kAudioObjectPropertyElementMain
[submodule "imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/faust"]
	path = lib/faust
	url = git@github.com:grame-cncm/faust.git
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
