[submodule "libsoundio"]
	path = lib/libsoundio
	url = git@github.com:andrewrk/libsoundio.git
[submodule "imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
